<nb-card style="position: relative" [nbSpinner]="loading" fullWidth>
  <nb-card-header class="card-header-title">{{ title }}
    <div class="bt-action">
        <span>
          <button ghost size="tiny" nbButton class="objLink float-right" (click)="ref.close()">
            <nb-icon icon="close-outline"></nb-icon>
          </button>
        </span>
    </div>
  </nb-card-header>
  <nb-card-body>
    <form [formGroup]="inputUser">
      <div class="mb-4">
        <div class="row">
          <div class="col-lg-6 form-group">
            <label class="label">
              {{ 'users.item_username' | translate }} <span style="color: red">(*)</span>
            </label>
            <input class="custom-border" type="text" formControlName="name" nbInput fullWidth trim="blur"
                   [ngClass]="{'status-danger': this.inputUser.get('name').touched && this.inputUser.get('name').errors}">

          </div>
          <div class="col-lg-6 form-group">
            <label class="label">
              {{ 'users.item_fullname' | translate }} <span style="color: red">(*)</span>
            </label>
            <input class="custom-border" formControlName="fullname"  type="text" nbInput fullWidth trim="blur"
                   [ngClass]="{'status-danger': this.inputUser.get('fullname').touched && this.inputUser.get('fullName').errors}">

          </div>
          <div class="col-lg-6 form-group">
            <label class="label">
              {{ 'users.item_tel' | translate}}
            </label>
            <input class="custom-border" formControlName="phone"  type="text" nbInput fullWidth trim="blur"
                   [ngClass]="{'status-danger': this.inputUser.get('phone').touched && this.inputUser.get('phone').errors}">


          </div>
          <div class="col-lg-6 form-group">
            <label class="label">
              {{ 'users.item_email' | translate }}
            </label>
            <input class="custom-border" formControlName="mail"  type="text" nbInput fullWidth trim="blur"
                   [ngClass]="{'status-danger': this.inputUser.get('mail').touched && this.inputUser.get('mail').errors}">

          </div>
          <div class="col-lg-6 form-group">
            <label class="label">
              {{ 'users.item_passwordHash' | translate }} <span *ngIf="data == null" style="color: red">(*)</span>
            </label>
            <input class="custom-border" formControlName="pass"  type="password" nbInput
                   fullWidth
                   [ngClass]="{'status-danger': this.inputUser.get('pass').touched && this.inputUser.get('passwordHash').errors}">
          </div>
          <div class="col-lg-6 form-group">
            <label class="label">
              {{ 'users.item_repassword' | translate }}
            </label>
            <input class="custom-border" formControlName="rePassword"  type="password" nbInput
                   fullWidth
                   [ngClass]="{'status-danger': this.inputUser.get('rePassword').touched && this.inputUser.get('rePassword').errors}">

          </div>
          <div class="col-lg-6 form-group">
            <label class="label">
              {{ 'users.item_imageUrl' | translate }}
            </label>
            <input class="custom-border" formControlName="imageUrl"  type="text" nbInput fullWidth trim="blur"
                   [ngClass]="{'status-danger': this.inputUser.get('imageUrl').touched && this.inputUser.get('imageUrl').errors}">

          </div>
          <div class="col-lg-6 form-group">
            <label class="label">
              {{ 'users.item_status' | translate }} <span style="color: red">(*)</span>
            </label>
<!--            <nb-select fullWidth style="padding: 0; overflow: hidden;" class="border-nb-select"-->
<!--                       placeholder="Chọn" formControlName="status"-->
<!--                       [ngClass]="{'nb-select-status-danger': this.inputUser.get('status').touched && this.inputUser.get('status').errors}">-->
<!--              <nb-option [value]="1">{{ 'users.status.1' | translate }}</nb-option>-->
<!--              <nb-option [value]="0">{{ 'users.status.0' | translate }}</nb-option>-->
<!--            </nb-select> -->
<!--            <ng-select fullWidth appendTo="body"-->
<!--                       placeholder="{{'users.placeHolder' |translate}}"-->
<!--                       notFoundText="{{'users.notFoundText' |translate}}"-->
<!--                       clearAllText="{{'users.clearAllText' |translate}}"-->
<!--                       formControlName="status">-->
<!--              <ng-option *ngFor="let item of listStatus" [value]="item.code"> {{ item.name | translate }}-->
<!--              </ng-option>-->
<!--            </ng-select>-->
            <nb-toggle fullWidth formControlName="status"></nb-toggle>
          </div>
        </div>
      </div>
    </form>
  </nb-card-body>
  <nb-card-footer class="text-right">
    <button nbButton type="button" status="primary" (click)="submit()" id="dialogCancelBtn">{{ 'users.save' | translate }}</button>
    <button nbButton type="button" nbButton (click)="cancel()" class="ml-2"> {{ 'users.cancel' | translate }} </button>
  </nb-card-footer>
</nb-card>
