<div class="header-container">
  <div class="logo-container">
    <a (click)="toggleSidebar()" href="#" class="sidebar-toggle">
      <nb-icon icon="menu-2-outline"></nb-icon>
    </a>
    <a class="logo" href="#" (click)="navigateHome()"><span>Hệ thống gì đó chưa nghĩ ra tên</span></a>
    <nb-select [selected]="currentTheme" (selectedChange)="changeTheme($event)" style="margin-left: 10px;">
      <nb-option *ngFor="let theme of themes" [value]="theme.value"> {{ theme.name }}</nb-option>
    </nb-select>
  </div>
</div>

<div class="header-container">

  <nb-actions size="small">
    <nb-action class="user-action"  *nbIsGranted="['view', 'user','logout']" >
      <nb-user [nbContextMenu]="userMenu"
                (menuClick)="menuClick($event)"
               [onlyPicture]="userPictureOnly"
               [name]="user"
               [picture]="user?.picture">
      </nb-user>
    </nb-action>
  </nb-actions>
</div>
