<div class="row">
  <div class="col-lg-12">
    <nb-card>
      <nb-card-header>Quản lý người dùng</nb-card-header>
      <nb-card-body>
        <div class="form-search">
          <div class="form-group">
            <div class="oneI col-sm-6">
              <span class="col-sm-4 cangiua">Tên tài khoản</span>
              <input class="col-sm-8" fieldSize="small" type="text" nbInput fullWidth>
            </div>
            <div class="oneI col-sm-6">
              <span class="col-sm-4 cangiua">Số điện thoại</span>
              <input class="col-sm-8" fieldSize="small" type="text" nbInput fullWidth>
            </div>
          </div>
          <div class="form-group">
            <div class="oneI col-sm-6">
              <span class="col-sm-4 cangiua">Email</span>
              <input class="col-sm-8" fieldSize="small" type="text" nbInput fullWidth>
            </div>
            <div class="oneI col-sm-6">
              <span class="col-sm-4 cangiua">Ngày sinh</span>
              <nb-form-field class="col-sm-8" style="padding: 0">
                <input nbInput fieldSize="small" fullWidth [nbDatepicker]="formpicker">
                <nb-icon nbSuffix icon="calendar-outline" pack="eva"></nb-icon>
                <nb-datepicker #formpicker></nb-datepicker>
              </nb-form-field>
            </div>
          </div>
          <div class="form-group">
            <div class="oneI col-sm-6">
              <span class="col-sm-4 cangiua">Trạng thái</span>
              <nb-select fullWidth style="padding: 0" class="col-sm-8" size="small" [(selected)]="selectedItem">
                <nb-option value="0">Hoạt động</nb-option>
                <nb-option value="1">Không hoạt động</nb-option>
              </nb-select>
            </div>
          </div>

          <button class="text-center" size="small" style="display: flex; margin: auto;min-width: 12%;" nbButton
                  status="info">Tìm kiếm
          </button>
        </div>

        <ng2-smart-table [settings]="settings" [source]="source" (custom)="myFunction($event)"></ng2-smart-table>
      </nb-card-body>
    </nb-card>
  </div>
</div>
